.c172-simple-flaps-lever
{
    position: relative;
    width:100%;
    height:100%;
}

.c172-simple-flaps-lever .backplate
{
    position:relative;
    width: 100%;
    height: 100%;
    background: url(simple-flaps-lever.png) 66.66666667% 0;
    background-size: 400% 200%;
}

.c172-simple-flaps-lever .flaps-lever-wrapper {
    position: relative;
    top: 9.47265625%;
    left: 41.40625%;
    width: 58.59375%;
    height: 85.15625%;
}

.c172-simple-flaps-lever .lever
{
    position:relative;
    top: 9.47265625%;
    left: 41.40625%;
    width: 58.59375%;
    height: 14.6484375%;
    background: url(simple-flaps-lever.png) 0 0;
    background-size: 200% 400%;
}