/*
Padding bottom	(icon height / icon width) * 100%
Background size	(sprite width / icon width) x 100
Background pos x	(x pixel pos / (sprite width - icon width)) x 100
Background pos Y	(y pixel pos / (sprite height - icone height)) x 100
*/

.kt76c-panel
{
    position: relative;
    width:100%;
    height:100%;
}

.kt76c-panel .backplate
{
    width:100%;
    height:100%;
    background: url(kt76c.png) 0 0;
    background-size: 100% 383.5205992509363%;
}

.kt76c-panel .knob
{
    position:absolute;
    top:24.34456928838951%;
    left:83.59375%;
    width: 12.890625%;
    height: 49.43820224719101%;
    background: url(kt76c.png) 0 29.93273542600897%;
    background-size: 775.7575757575758% 775.7575757575758%;
}

.kt76c-panel .numbers
{
    position:absolute;
    font-family: DSEG7Classic;
    font-size: 110%;
    color: #ff4130;
    transform: skewX(-5deg);
}

.kt76c-panel .labels
{
    position:absolute;
    font-size:60%;
    color: #ff4130;
    font-weight:bold;
}

.kt76c-panel .transponder-code
{
    top:18%;
    left:53.5%;
}

.kt76c-panel .transponder-alt-sign
{
    top:17%;
    left:19%;
}

.kt76c-panel .transponder-alt
{
    top:17%;
    left:23%;
}

.kt76c-panel .label-fl
{
    top:31%;
    left:19.2%;
    font-size:60%;
    font-weight:bold;
}

.kt76c-panel .label-alt
{
    top:16%;
    left:37.8%;
}

.kt76c-panel .label-on
{
    top:16%;
    left:44%;
}

.kt76c-panel .label-sby
{
    top:26%;
    left:43.4%;
}

.kt76c-panel .label-r
{
    top:16%;
    left:51.5%;
}

.kt76c-panel  .bottom-buttons
{
    position:absolute;
    bottom:8.8%;
    left:0%;
    width:100%;
    height:20.78651685393258%;
}

.kt76c-panel .btn
{
    width: 7.763671875%;
    display: inline-block;
    height: 100%;
}

.kt76c-panel .btn-num
{
    margin-right:1.416015625%;
}

.kt76c-panel .btn-num:first-of-type
{
    margin-left:2.1240234375%;
}

.kt76c-panel .btn-func
{
    margin-left:2.9%;
    margin-right:1.2%;
}

.kt76c-panel .btn-idt
{
    height: 20.78651685393258%;
    position:absolute;
    top:19%;
    left:2.9%;
}

.kt76c-panel .kbtn
{
    position:absolute;   
    height: 48%;
    top: 21.86379928315412%;
}

.kt76c-panel .knob-left
{
    left:76.46484375%;
    width: 13.96484375%;
}

.kt76c-panel .knob-right
{
    left:91.0390625%;
    width:6.8359375%;
}