.kr87-panel
{
    position: relative;
    width:100%;
    height:100%;
}

.kr87-panel > img
{
    width: 100%;
    height: 100%;
}

.kr87-panel .backplate
{
    width:100%;
    height:100%;
    background: url(kr87.png) 0 0;
    background-size: cover;
}

.kr87-panel .indicators
{
    position:absolute;
    color: #ff4130;
    font-size: 70%;
}

.kr87-panel .seven-segment
{
    font-family: DSEG7Classic;
    font-size: 130%;
    transform: skewX(-5deg);
}

.kr87-panel .ind-frq
{
    left:37.2%;
    top:35.5%;
}

.kr87-panel .ind-ant
{
    left:10.3%;
    top:18%;
}

.kr87-panel .ind-adf
{
    left:10.3%;
    top:35.5%;
}

.kr87-panel .ind-bfo
{
    left:30%;
    top:18%;
}

.kr87-panel .ind-et
{
    left:58%;
    top:35.5%;
}

.kr87-panel .ind-flt
{
    left:58%;
    top:18%;
}

.kr87-panel .ind-num1
{
    left:15%;
    top:21%;
}

.kr87-panel .ind-num2
{
    left:43%;
    top:21%;
}

.kr87-panel .knob-100
{
    position:absolute;
    left:83.69140625%;
    top:20.54794521%;
    width: 12.890625%;
    height: 60.2739726%;
    background: url(kr87.png) 0 24.55156951%;
    background-size: 775.7575758% 775.7575758%;
}

.kr87-panel .knob-1
{
    position:absolute;
    left:85.64453125%;
    top:29.22374429%;
    width: 9.1796875%;
    height: 42.92237443%;
    background: url(kr87.png) 14.19354839% 23.5483871%;
    background-size: 1089.361702% 1089.361702%;
}

.kr87-panel .knob-volume
{
    position:absolute;
    left:70.41015625%;
    top:53.88127854%;
    width: 5.2734375%;
    height: 24.65753425%;
    background: url(kr87.png) 23.29896907% 22.57731959%;
    background-size: 1896.296296% 1896.296296%;
}

.kr87-panel .btn
{
    position:absolute;
    width:8.37890625%;
    height:24.65753425%;
    top:68.49315068%;
}

.kr87-panel .btn-adf
{
    left:16.22070313%;
}

.kr87-panel .btn-bfo
{
    left:25.79101563%;
}

.kr87-panel .btn-frq
{
    left:35.36132813%;
}

.kr87-panel .btn-flt
{
    left:44.93164063%;
}

.kr87-panel .btn-set
{
    left:54.50195313%;
}

.kr87-panel .dot
{
    position:absolute;
    text-align:center;
}

.kr87-panel .dot-volume
{
    color:red;
    width:5.80078125%; height:27.1232876712329%; left:70.146484375%; top:52.648401826484%;
    font-size:50%;
}

.kr87-panel .ctl-volume
{
    position:absolute;
    width:10.546875%; height:49.3150684931507%; left:67.7734375%; top:41.5525114155251%;
}

.kr87-panel .dot-freq-high
{
    width:15.46875%; height:72.3287671232877%; left:82.5%; top:14.5205479452055%;
    color:red;
}

.kr87-panel .dot-freq-mid
{
    width:14.1796875%; height:66.3013698630137%; left:83.14453125%; top:17.5342465753425%;
    color:green;
    transform:rotate(-120deg);
}

.kr87-panel .dot-freq-low
{
    width:11.6015625%; height:54.2465753424658%; left:84.43359375%; top:23.5616438356164%;
    color:blue;
    transform:rotate(-240deg);
}

.kr87-panel .ctl-freq-et
{
    position:absolute;
    width:18.046875%; height:84.3835616438356%; left:81.2109375%; top:8.49315068493151%;
}

.kr87-panel .dot-et-low
{
    width:15.46875%; height:72.3287671232877%; left:82.5%; top:14.5205479452055%;
    color:red;
}

.kr87-panel .dot-et-high
{
    width:11.6015625%; height:54.2465753424658%; left:84.43359375%; top:23.5616438356164%;
    color:blue;
    transform:rotate(180deg);
}



