body
{
    margin: 0px;
    overflow: hidden;
}

#map
{
    width:100vw;
    height:100vh;
}

.hide
{
    display:none;
}

.follow-aircraft
{
    text-align:center;
    line-height:30px;
    font-size:20px;
	width: 30px;
	height: 30px;
}

.aircraft-icon
{
    width:100%;
    height:100%;
    fill: orange;
    z-index: 1000;
}

.user-aircraft
{
    fill: yellow;
}

.aircraft-infobox  {
    text-align: center;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    font-weight: bold;
    text-shadow: 1px 1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white,
        2px 2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        -2px -2px 0 white;
    color:black !important;
}

.aircraft-infobox.leaflet-tooltip-bottom:before {
    display:none;
}

.aircraft-infobox.user-infobox
{
    z-index: 1000;
}