.a20n-fcu
{
    width:100%;
    height:100%;
    position:relative;
    font-size: 32%;
}

.a20n-fcu .backplate
{
    position:absolute;
    width:100%;
    height:100%;
    opacity: 1;
    top:0;
    left:0;
}

.a20n-fcu .img-alt-knob
{
    background: url(fcu.png) 0 0;
    background-size: 200% 400%;
}

.a20n-fcu .img-alt-select
{
    background: url(fcu.png) 100% 0;
    background-size: 200% 400%;
}

.a20n-fcu .img-circle-button
{
    background: url(fcu.png) 0% 33.3333333333%;
    background-size: 200% 400%;
}

.a20n-fcu .img-generic-knob
{
    background: url(fcu.png) 100% 33.3333333333%;
    background-size: 200% 400%;
}

.a20n-fcu .img-hdg-knob
{
    background: url(fcu.png) 0% 66.6666666667%;
    background-size: 200% 400%;
}

/*
.a20n-fcu .mockup
{
    position:absolute;
    width:100%;
    height:100%;
    background: url("fcu-mockup.jpg") no-repeat;
    background-size: cover;
    visibility: hidden;
}
*/

.a20n-fcu .wrapper
{
    position:absolute;
    width:100%;
    height:100%;
    opacity: 1;
}

.a20n-fcu .itm-wrapper
{
    position:absolute;
}

.a20n-fcu .btn
{
    position:relative;
    width:100%;
    height:100%;
    background-color: black;
}

.a20n-fcu .btn-round
{
    width:87.09716753559532%;
    height:87.09716753559532%;
    border-radius: 50%;
    border: solid 0.260378064516129em white;
}

.a20n-fcu .btn-circle
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.a20n-fcu .btn-tapped
{
    background-color:yellow;
    opacity: 0.5;
}

.a20n-fcu .knob.state-on
{
    border-radius: 50%;
    box-shadow: 0.5em 0.5em 0.5em 0px #dc8632;
}

.a20n-fcu .btn-small
{
    border-radius: 10.86956522%;
}

.a20n-fcu .btn-square
{
    border-radius: 7.352941176%;
}

.a20n-fcu .ind
{
    position:absolute;
    line-height:normal;
}

.a20n-fcu .ind-num
{
    font-family: DSEG7Classic;
    text-align: right;
    font-size: 179.8873102634878%;
    letter-spacing:0.1em;
}

.a20n-fcu .ind.state-on
{
    color:#dc8632;
}

.a20n-fcu .ind.state-off
{
    color:#40270f;
}

.a20n-fcu .lbl
{
    line-height:normal;
    text-align:center;
    position:absolute;
    color:white;
}

.a20n-fcu .ind-dot
{
    border-radius: 50%;
}

.a20n-fcu .ind.ind-dot.state-on
{
    background-color:#dc8632;
}

.a20n-fcu .ind.ind-dot.state-off
{
    background-color:#40270f;
}

.a20n-fcu .ind.ind-line.state-on
{
    border-color:#dc8632;
}

.a20n-fcu .ind.ind-line.state-off
{
    border-color:#40270f;
}

.a20n-fcu .btn-square .lbl-btn
{
    top:60.29411765%;
    height:23.52941176%;
    width:100%;
}

.a20n-fcu .btn-small .lbl-btn
{
    top:52.27272727%;
    height:56.81818182%;
    width:100%;
}

.a20n-fcu  .ind-btn
{
    position:absolute;
    top:13%;
    left:30%;
    width:40%;
    text-align: center;
    transform: scaleX(2.5);
}

.a20n-fcu .ind-btn.state-off
{
    color:#686e7a;
}

.a20n-fcu .ind-btn.state-on
{
    color: #33d736;
}

.a20n-fcu .arrow-up-wrapper img
{
    width:100%;
    height:100%;
}

.a20n-fcu .selector-switch.state-on
{
    transform:rotate(34deg);
}

.a20n-fcu .selector-switch.state-off
{
    transform:rotate(-36deg);
}

.a20n-fcu .btn-spdmch-wrapper
{
    left:1.1607142857%; 	top:33.1145038168%; 	width:6.1607142857%; 	height:17.5572519084%;
}

.a20n-fcu .btn-hdgtrk-wrapper
{
    left:47.1428571429%; 	top:33.3689567430%; 	width:5.7142857143%; 	height:16.2849872774%;
}

.a20n-fcu .btn-metricalt-wrapper
{
    left:75.4464285714%; 	top:33.3689567430%; 	width:5.7142857143%; 	height:16.2849872774%;
}

.a20n-fcu .btn-ap1-wrapper
{
    left:42.4107142857%; 	top:52.1628498728%; 	width:6.3392857143%; 	height:17.3027989822%;
}

.a20n-fcu .btn-ap2-wrapper
{
    left:51.4285714286%; 	top:52.1628498728%; 	width:6.3392857143%; 	height:17.3027989822%;
}

.a20n-fcu .btn-athr-wrapper
{
    left:46.8750000000%; 	top:78.1170483461%; 	width:6.3392857143%; 	height:17.3027989822%;
}

.a20n-fcu .btn-loc-wrapper
{
    left:29.2857142857%; 	top:84.2239185751%; 	width:6.2500000000%; 	height:11.7048346056%;
}

.a20n-fcu .btn-exped-wrapper
{
    left:64.4642857143%;  	top:84.2239185751%; 	width:6.2500000000%; 	height:11.7048346056%;
}

.a20n-fcu .btn-appr-wrapper
{
    left:85.0000000000%; 	top:84.2239185751%; 	width:6.2500000000%; 	height:11.7048346056%;
}

.a20n-fcu .knb-spd
{
    left:9.28571429%;	top:43.51145038%;	width:10.26785714%;	height:29.26208651%;
}

.a20n-fcu .knb-hdg
{
    left:25.53571429%;	top:43.51145038%;	width:10.26785714%;	height:29.26208651%;
}

.a20n-fcu .knb-alt
{
    left:62.94642857%;	top:43.51145038%;	width:10.26785714%;	height:29.26208651%;
}

.a20n-fcu .knb-vs
{
    left:83.30357143%;	top:43.51145038%;	width:10.26785714%;	height:29.26208651%;
}

.a20n-fcu .fcu-display-wrapper
{
    left:8.12500000%;	top:8.14249364%;	width:83.66071429%;	height:18.06615776%;
    position:absolute;
    border-radius: 1.5%/15%;
    background-color: #211b1b;
}

.a20n-fcu .val-spd
{
    left:8.66071429%;   top:15.77608142%;	width:10.16214285%;	height:8.90585242%;
}

.a20n-fcu .val-hdg
{
    left:25.35714286%;	top:15.77608142%;	width:10.16214285%;	height:8.90585242%;
}

.a20n-fcu .val-alt
{
    left:59.33928571%;	top:15.77608142%;	width:14.76785714%;	height:8.90585242%;
}

.a20n-fcu .val-vs
{
    left:77.32142857%;	top:15.77608142%;	width:14%;	height:8.90585242%;
}

.a20n-fcu .ind-lat
{
    left:35.62500000%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-spd
{
    left:10.62500000%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-mach
{
    left:14%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-hdg
{
    left:27.50000000%;  top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-trk
{
    left:31.78571429%;  top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-alt
{
    left:66.69642857%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-vs
{
    left:83.48214286%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-lvlch
{
    left:73.48214286%;	top:9.92366412%;	width:6.69642857%;	height:4.32569975%;
}

.a20n-fcu .ind-fpa
{
    left:86.33928571%;	top:9.92366412%;	width:3.30357143%;	height:4.32569975%;
}

.a20n-fcu .ind-hdgc
{
    left:44.28571429%;	top:15.26717557%;	width:3.30357143%;	height:4.32569975%;
    text-align:right;
}

.a20n-fcu .ind-trkc
{
    left:44.28571429%;	top:20.35623410%;	width:3.30357143%;	height:4.32569975%;
    text-align:right;
}

.a20n-fcu .ind-vsc
{
    left:51.60714286%;	top:15.26717557%;	width:3.30357143%;	height:4.32569975%;
    text-align:left;
}

.a20n-fcu .ind-fpac
{
    left:51.60714286%;	top:20.35623410%;	width:3.30357143%;	height:4.32569975%;
    text-align:left;
}

.a20n-fcu .ind-hdgmanaged
{
    left:36.16071429%;	top:17.30279898%;	width:1.87500000%;	height:5.34351145%;
}

.a20n-fcu .ind-spdmanaged
{
    left:19.46428571%;	top:17.30279898%;	width:1.87500000%;	height:5.34351145%;
}

.a20n-fcu .ind-altmanaged
{
    left:75.08928571%;	top:17.30279898%;	width:1.87500000%;	height:5.34351145%;
}

.a20n-fcu .ind-lvlchleft
{
    left:70.08928571%;	top:11.45038168%;	width:2.23214285%;	height:1.52671756%;
    border-top-style: solid;
    border-top-width: 0.15em;
    border-left-style: solid;
    border-left-width: 0.15em;
}

.a20n-fcu .ind-lvlchright
{
    left:80.26785714%;	top:11.45038168%;	width:2.23214285%;	height:1.52671756%;
    border-top-style: solid;
    border-top-width: 0.15em;
    border-right-style: solid;
    border-right-width: 0.15em;
}

.a20n-fcu .knob-ctl
{
    position:absolute;
    width:4.46428571%;	height:12.72264631%;
    border-radius:50%;
}

.a20n-fcu .ip-spd-inc
{
    left: 17.32142857%;
    top: 51.78117048%;
}

.a20n-fcu .ip-spd-dec
{
    left: 7.053571433%;
    top: 51.78117048%;
}

.a20n-fcu .ip-spd-managed
{
    left: 12.1875%;
    top: 37.15012722%;
}

.a20n-fcu .ip-spd-selected
{
    left: 12.1875%;
    top: 66.41221373%;
}

.a20n-fcu .ip-hdg-inc
{
    left:33.5714285728571%; top:51.7811704797837%;
}

.a20n-fcu .ip-hdg-dec
{
    left:23.3035714328571%; top:51.7811704797837%;
}

.a20n-fcu .ip-hdg-managed
{
    left:28.4375000028571%; top:37.1501272247837%;
}

.a20n-fcu .ip-hdg-selected
{
    left:28.4375000028571%; top:66.4122137347837%;
}

.a20n-fcu .ip-alt-inc
{
    left:70.9821428528572%; top:51.7811704797837%;
}

.a20n-fcu .ip-alt-dec
{
    left:60.7142857128571%; top:51.7811704797837%;
}

.a20n-fcu .ip-alt-managed
{
    left:65.8482142828571%; top:37.1501272247837%;
}

.a20n-fcu .ip-alt-selected
{
    left:65.8482142828571%; top:66.4122137347837%;
}

.a20n-fcu .ip-vs-inc
{
    left:91.3392857128571%; top:51.7811704797837%;
}

.a20n-fcu .ip-vs-dec
{
    left:81.0714285728571%; top:51.7811704797837%;
}

.a20n-fcu .ip-vs-managed
{
    left:86.2053571428571%; top:37.1501272247837%;
}

.a20n-fcu .ip-vs-lvloff
{
    left:86.2053571428571%; top:66.4122137347837%;
}

.a20n-fcu .ip-alt-100
{
    left:60.7142857128571%; top:30%;
}

.a20n-fcu .ip-alt-1000
{
    left:70.9821428528572%; top:30%;
}
