.c172-egt
{
    position: relative;
    width:100%;
    height:100%;
}

.c172-egt .backplate
{
    width:100%;
    height:100%;
    background: url(egt.png) 0 0;
    background-size: 200% 200%;
}

.c172-egt .needle-wrapper
{
    position:absolute;
    padding: 46.875% 22.265625% 46.875% 48.828125%;    
    width:28.90625%; height:6.25%;
}

.c172-egt .needle
{
    width:100%; 
    height: 100%;
    background: url(egt.png) 0% 51.6129032258064%;
    background-size: 691.891891891892% 3200%;
}

.c172-egt .left-needle
{    
    top:0;
    left: -28.125%;
    transform:rotate(56.0deg);
}

.c172-egt .right-needle
{    
    top:0;
    left: 28.125%;
    transform:rotate(124.0deg);
}

.c172-egt .ref-needle-wrapper
{
    position:absolute;
    width:28.90625%; height:6.25%;
    padding: 46.875% 22.265625% 46.875% 48.828125%;    
    top:0;
    left: -28.125%;
    transform:rotate(56.0deg);
}

.c172-egt .ref-needle
{
    width:100%; 
    height: 100%;
    background: url(egt.png) 16.8949771689498% 51.6129032258064%;
    background-size: 691.891891891892% 3200%;
}

.c172-egt .foreground
{
    position:absolute;
    top:0;
    width:100%; 
    height: 100%;
    background: url(egt.png) 100% 0%;
    background-size: 200% 200%;
}

.c172-egt .knob
{
    position:absolute;
    top:41.40625%;
    left:13.28125%;
    width:17.1875%; height:17.1875%;
    background: url(egt.png) 31.6239316239316% 54.7008547008547%;
    background-size: 1163.63636363636% 1163.63636363636%;
}