.c172-rpm
{
    position: relative;
    width:100%;
    height:100%;
}

.c172-rpm .backplate
{
    position: absolute;
    left:0%;
    top:0;
    width:100%;
    height:100%;
    background: url(rpm.png) 0% 0%;
    background-size: 200% 200%;
}

.c172-rpm .needle-wrapper
{
    position: absolute;
    width: 51.5625%;
    height: 10.9375%;
    padding: 44.53125% 41.796875% 44.53125% 6.640625%;    
}

.c172-rpm .needle
{
    width:100%;
    height:100%;
    background: url(rpm.png) 67.3684210526316% 0%;
    background-size: 387.878787878788% 1828.57142857143%;
}

.c172-rpm .needle-center
{
    position:absolute;
    width:4.6875%; height:4.6875%;
    background: url(rpm.png) 51.2% 5.6%;
    background-size: 4266.66666666667% 4266.66666666667%;
    left: 47.65625%;
    top: 47.65625%;
}

