.generic-turn-coordinator
{
    position: relative;
    width:100%;
    height:100%;
}

.generic-turn-coordinator .window
{
    position: absolute;
    width: 59.375%;
    height: 15.625%;
    top: 57.421875%;
    left: 20.3125%;
    background: url(turn-coordinator.png) 71.1111111111111% 0%;
    background-size: 336.842105263158% 1280%;
}

.generic-turn-coordinator .foreground
{
    position: absolute;
    left:0%;
    top:0;
    width:100%;
    height:100%;
    background: url(turn-coordinator.png) 0% 0%;
    background-size: 200% 200%;
}

.generic-turn-coordinator .ball-wrapper
{
    position: absolute;
    width: 12.5%;
    height: 15.625%;
    left:43.79186785908596%; top:58.59375%;
}

.generic-turn-coordinator .ball
{
    width:100%;
    height:100%;
    background: url(turn-coordinator.png) 62.5% 8.47457627118644%;
    background-size: 1600% 1280%;
}

.generic-turn-coordinator .on-ind
{
    position: absolute;
    width: 10.9375%;
    height: 12.5%;
    top: 37.5%;
    left: 67.7734375%;
    background: url(turn-coordinator.png) 68.595041322314% 8.33333333333333%;
    background-size: 1828.57142857143% 1600%;
}

.generic-turn-coordinator .off-ind
{
    position: absolute;
    width: 10.9375%;
    height: 12.5%;
    top: 37.5%;
    left: 67.7734375%;
    background: url(turn-coordinator.png) 74.3801652892562% 8.33333333333333%;
    background-size: 1828.57142857143% 1600%;
}

.generic-turn-coordinator .plane-wrapper
{
    position: absolute;
    width: 17.1875%;
    height: 62.5%;
    padding: 18.75% 42.1875% 18.75% 40.625%;
    transform:rotate(-90deg);
}

.generic-turn-coordinator .plane
{
    width:100%;
    height:100%;
    background: url(turn-coordinator.png) 54.7008547008547% 11.3636363636364%;
    background-size: 1163.63636363636% 320%;
}
