body
{
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    touch-action: manipulation !important;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #838b8d;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index:1;
    position: fixed;
}

.wrapper
{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container
{
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 2;
    margin: auto;
    position: relative;
    background-color:#c0c0c0;
    vertical-align: top;
    display:inline-block;
}

.error-overlay
{
    background-color:white;
    opacity:0.8;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    color:red;
}


#sys-message
{
    position:absolute;
    font-size: 250%;
    font-weight:bold;
    font-style: italic;
    width:100%;
    top:50%;
    text-align:center;
    transform: translate(0%,-50%);
}

.hide
{
    display:none;
}

.invisible {
    visibility:hidden;
}

.fcu
{
    width:100%;
    height:48.0366692131398;
}

.bottom-panel
{
    position:absolute;
    bottom:0;
    left:0;
    height:6.768927665%;
    width:100%;
    background-color: #434343;
}

.help-container
{
    height:6.768927665%;
    position:absolute;
    bottom:0;
    right:0;
    z-index:6;
}

.help-container img
{
    height:100%;
}

.help-screen-overlay
{
    background-color:white;
    opacity:0.3;
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.help-overlay
{
    color:yellow;
    font-size:200%;
    opacity: 0.8;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}