.c172-vac
{
    position: relative;
    width:100%;
    height:100%;
}

.c172-vac .backplate
{
    width:100%;
    height:100%;
    background: url(vac.png) 0 0;
    background-size: 200% 200%;
}

.c172-vac .needle-wrapper
{
    position:absolute;
    padding: 46.875% 22.265625% 46.875% 48.828125%;    
    width:28.90625%; height:6.25%;
}

.c172-vac .needle
{
    width:100%; 
    height: 100%;
    background: url(vac.png) 0% 51.6129032258064%;
    background-size: 691.891891891892% 3200%;
}

.c172-vac .left-needle
{    
    top:0;
    left: -28.125%;
    transform:rotate(56.0deg);
}

.c172-vac .right-needle
{    
    top:0;
    left: 28.125%;
    transform:rotate(124.0deg);
}

.c172-vac .foreground
{
    position:absolute;
    top:0;
    width:100%; 
    height: 100%;
    background: url(vac.png) 100% 0%;
    background-size: 200% 200%;
}